<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <% if Community.client_env.production? %>
    <%= javascript_include_tag "client_production.js" %>
  <% else %>
    <!-- Avoid asset pipeline for development cljs. It's a stupid hack to get
         source maps to work. -->
    <script src="/assets/client_development/goog/base.js"></script>
    <script src="/assets/client_development.js"></script>
    <script>goog.require("community.core");</script>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
